h2 {
    text-align: center;
    font-family: Arial;
}
#homePage {
    position: absolute;
    overflow: hidden; 
    display: flex;
    justify-content: space-between;

}
.selection {
    float: left;
    margin: 1% 1% 10px 1%;
    text-align: center;
}
.label {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-family: Arial;
}
.selection img {
    width: 25%;
    text-align: center;
}