<div>
    <h2>Welcome to Group 2 Fitness App</h2>
</div>
<br>
<div id="homePage">
   
       <div class="selection">
            <div class="label">New Member</div>
           <img src="assets/images/newUser.png" class="img-responsive img-thumbnail" alt="Responsive image" routerLink="/newMember"/>
           
       </div>
       <div class="selection">
            <div class="label">List Members</div>
           <img src="assets/images/users.png" class="img-responsive img-thumbnail" alt="Responsive image" routerLink="/listMembers"/>
       </div>
       <div class="selection">
            <div class="label">Member Fitness Reports</div>
           <img src="assets/images/reports.png" class="img-responsive img-thumbnail" alt="Responsive image"/>
       </div>
       <div class="selection">
            <div class="label">Member Nutrition</div>
           <img src="assets/images/nutrition.png" class="img-responsive img-thumbnail" alt="Responsive image"/>
       </div>
       <div class="selection">
            <div class="label">Exercise Types</div>
           <img src="assets/images/exercises.png" class="img-responsive img-thumbnail" alt="Responsive image"/>
       </div>
      
   </div>

